body{
    margin: 0;
    padding: 0;
    color: white;
    box-sizing: border-box;
    font-size: 15px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: 240px 1fr;
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas: 
    'aside header'
    'aside main'
    'aside footer'
    ;
    height: 100vh;
}

.header{
    grid-area: header;
    color: black;
    background-color: whitesmoke;
     margin-top: 5px;
     display: flex; 
     justify-content: space-between;

}
/* .header .search{
    width: 500px;
    height: 35px;
    border-radius: 50px;
    border-color: white; */

.header .side .icons{
    color: grey;
    font-size: 1.5rem;
    font-weight: lighter;
    margin-top: 5px;
    
    
   

}
.header .side a{
    list-style: none;
    text-decoration: none;
}

.aside {
    grid-area: aside;
    overflow-y:scroll ;
    background-color:white;
    
}

.aside .image{
    display: flex;
    min-width: 60px;
}
.aside li{
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
    
   
}
.aside li .text,
.aside li .icon{
    color:black;
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    list-style: none;
   
  
}
.aside  .para{
    color: lightslategray;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.aside li a:hover .icon,
.aside li a:hover .text
{
    color: blue;
}


.main {
    grid-area: main;
    background-color: white;
    margin-top: 20px;
}