body{
    margin: 0;
    padding: 0;
    color: white;
    box-sizing: border-box;
    font-size: 15px;
}
.grid-container {
    display: grid;
    grid-template-columns: 240px 1fr;
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas: 
    'aside header'
    'aside main'
    'aside footer'
    ;
    height: 100vh;
}

.header{
    grid-area: header;
    color: black;
    background-color: whitesmoke;
     margin-top: 5px;
     display: flex; 
     justify-content: space-between;

}
.header .search{
    width: 500px;
    height: 35px;
    border-radius: 50px;
    border-color: white;
}
.header .side .icons{
    color: gray;
    font-size: 1.5rem;
    font-weight: lighter;
    margin-top: 5px;
   

}
.header .side a{
    list-style: none;
    text-decoration: none;
}
.aside {
    grid-area: aside;
    overflow-y:scroll ;
    background-color:white;
}

.aside .image{
    display: flex;
    min-width: 60px;
}
.aside li{
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
    
   
}
.aside li .text,
.aside li .icon{
    color: black;
    font-size: larger;
    text-decoration: none;
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.aside  .para{
    color: lightslategray;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.aside li a:hover .icon,
.aside li a:hover .text
{
    color: blue;
}


.main {
    grid-area: main;
    background-color: white;
    margin-top: 50px;
    margin-left: 30px;
}
.main .total{
    display: flex;
    gap: 20px;
    
     justify-content: center; 
    font-size: smaller;
}
.main .total .section{
    flex: 1;

    max-width: 300px;
    padding: 10px;
  
    text-align: center;
 
    box-shadow: 5px 5px 5px rgb(229, 205, 205);

}

