<div class="grid-container">
    <header class="header">
        
        <div class="heading">
          <div class="search-bar" style="display: flex; width: 450px; margin-left: 20px; ">
            <div style="flex:1; font-size: 1.3rem ; color: grey;">

              <i class='bx bx-search'></i>
            </div>
            <div style="flex:5;">
              <input class="search " style="width: 100%; outline: none; border: none; font-size: 1.2rem;" type="search" placeholder="search in front ">

            </div>
            <div style="flex:1; font-size: 1.3rem; color: grey;">
              <i class='bx bx-x'></i>
            </div>
          </div>

        </div>
        <div class="side" style="margin-right: 20px; display: flex; gap: 20px;">
        
                  <div class="bell">

                    <a href="#">
    
                        <i class='bx bx-bell icons'></i>
                    </a>
                  </div>
            
        
                 <div class="bell">

                   <a href="#">
   
                       <i class='bx bx-notification icons'></i>
                   </a>
           
                 </div>
            
                 <div class="bell">

                   <a href="#">
   
                       <i class='bx bxs-grid icons'></i>
                   </a>
                 </div>

            

        </div>
       


        



    </header>
    <aside class="aside">
        <header>

            <span class="image">
                <img  src="https://htmlstream.com/preview/front-dashboard-v2.1.1/assets/svg/logos/logo.svg" class="img-fluid" alt="..." style="margin-left: 15px; margin-top: 10px;" >

            </span>
            <!-- <div class="toggle" style="margin-left: 200px; background-color: darkslategray; border-radius: 50%; color: white; font-size: 25px;">

              <i class='bx bxs-chevron-right toggle' ></i>
            </div> -->
            
        </header>

            
                <ul class="dash" style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; margin-top: 30px; margin-left: 8px;">

                    <li>
                        <a href="#" style="font-family: Verdana, Geneva, Tahoma, sans-serif;">
                            <i  class='bx bx-home-alt-2 icon'></i>
                            <span>Dashboard</span>

                        </a>
                    </li>
                    <p class="para">pages</p>
                    <li>
                        <a href="{% url 'userpage' %}">
                            <i class='bx bx-user-plus icon' style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Users</i>

                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class='bx bx-user icon'>User</i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class='bx bx-user-pin icon' >Account</i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class='bx bx-basket icon'>E commerce</i> 
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class='bx bx-basket icon'>Projects</i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class='bx bx-book-open icon'>Project</i>

                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class='bx bx-pyramid icon'>Authentcation</i>

                        </a>
                    </li>
                    <p class="para">Apps</p>
                    <li>
                        <a href="#">
                            <i class='bx bx-windows icon'>File Manager</i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class='bx bx-bar-chart-square icon'>Kanban</i> 
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class='bx bx-calendar icon'>Calander</i>
                        </a>
                    </li>
                    <p class="para">Layouts</p>
                    <li>
                        <a href="#">
                            <i class='bx bx-news icon'>Layouts</i>

                        </a>
                       
                    </li>
                    <p class="para">Documentation</p>
                    <li>
                      <a href="#">
                        <i class='bx bx-check-square icon'>components</i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class='bx bx-book-alt icon'>Documentation</i>
                      </a>
                    </li>
                </ul>

            
        
        
      

        
        
    </aside>